// Font Settings
@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('../fonts/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: 'Josefin Sans Medium';
  src: url('../fonts/JosefinSans-Medium.ttf');
}

@font-face {
  font-family: 'Josefin Sans Regular';
  src: url('../fonts/JosefinSans-Regular.ttf');
}
