// Variables
$grid-breakpoints: (
  xs: 0,
  xs-1: 320px,
  xs-2: 426px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Color Variables
// Primary
$p50: #edf2f4;
$p75: #b6c8d0;
$p100: #97b1bd;
$p200: #6a8fa0;
$p300: #4c788d;
$p400: #355463;
$p500: #2e4956;

// Neutral
$ntr0: #ffffff;
$ntr50: #e6e9ec;
$ntr100: #b3b9c4;
$ntr200: #8e98a8;
$ntr300: #5a6880;
$ntr400: #3a4b68;
$ntr500: #091e42;
$ntr600: #081b3c;
$ntr700: #06152f;
$ntr800: #051124;
$ntr900: #040d1c;
