* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0 auto !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: toRem(64);
  font-family: 'Poppins Bold';

  @include media-breakpoint-down(sm) {
    font-size: toRem(40);
  }
}

h2 {
  font-size: toRem(56);
  font-family: 'Poppins Bold';

  @include media-breakpoint-down(sm) {
    font-size: toRem(32);
  }
}

h3 {
  font-size: toRem(48);
  font-family: 'Poppins Bold';

  @include media-breakpoint-down(sm) {
    font-size: toRem(24);
  }
}

h4 {
  font-size: toRem(32);
  font-family: 'Poppins Bold';

  @include media-breakpoint-down(sm) {
    font-size: toRem(20);
  }
}

.container {
  padding: 0;

  @include media-breakpoint-up(xl) {
    max-width: 1100px !important;
  }

  @include media-breakpoint-down(sm) {
    padding-inline: toRem(20);
  }

  // .header {
  //   display: flex;
  //   flex-direction: column;
  //   gap: toRem(16);
  //   text-align: center;
  //   align-items: center;
  // }
}
