.text-xl {
  font-size: toRem(18);
  font-family: 'Poppins Regular';

  &--md {
    font-family: 'Poppins Medium';
  }

  &--lg {
    font-family: 'Poppins Bold';
  }
}

.text-l {
  font-size: toRem(16);
  font-family: 'Poppins Regular';

  &--md {
    font-family: 'Poppins Medium';
  }

  &--lg {
    font-family: 'Poppins Bold';
  }
}

.text-md {
  font-size: toRem(14);
  font-family: 'Poppins Regular';

  &--md {
    font-family: 'Poppins Medium';
  }

  &--lg {
    font-family: 'Poppins Bold';
  }
}

.text-sm {
  font-size: toRem(12);
  font-family: 'Poppins Regular';

  &--md {
    font-family: 'Poppins Medium';
  }

  &--lg {
    font-family: 'Poppins Bold';
  }
}
