.btn {
  border-radius: toRem(8);
  text-decoration: none;
  border: none;
  transition: 0.2s;
  font-family: 'Poppins Medium';
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &--primary {
    background: $p300;
    color: $ntr0;
    transition: 0.2s;

    &:hover,
    &:active {
      color: $ntr0;
      background: $p400;
    }
  }

  &--secondary {
    border: solid 1px $p300;
    color: $p300;

    &:hover {
      border: solid 1px $p400;
      color: $p400;
    }

    &:active {
      color: $ntr0;
      background: $p400;
    }
  }

  &--tertiary {
    color: $p300;

    &:hover {
      color: $p400;
    }

    &:active {
      color: $ntr0;
      background: $p400;
    }
  }

  &--lg {
    padding: toRem(12) toRem(24);
  }

  &--md {
    padding: toRem(10) toRem(24);
  }

  &--sm {
    padding: toRem(8) toRem(24);
  }
}
